body {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Expletus Sans", "Helvetica Neue", sans-serif;
}

footer {
  margin-top: 20px;
  padding: 50px;
}
